.input {
  @apply my-1 rounded-md px-4 py-2 tracking-wide shadow-md placeholder:text-sm;
}

.separator {
  display: flex;
}

.separator::before,
.separator::after {
  align-self: center;
  content: '';
  width: 100%;
  height: 1px;
  @apply border-t border-secondary-normal;
}

.separator::before {
  margin-right: 10px;
}

.separator::after {
  margin-left: 10px;
}
