{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "vueIndentScriptAndStyle": false,
  "printWidth": 100,
  "bracketSpacing": true,
  "tailwindConfig": "./tailwind.config.js"
}
