/* Show */
.a--show {
  animation-duration: 850ms;
  animation-fill-mode: forwards;
  animation-name: show-animate;
  animation-direction: normal;
}

@keyframes show-animate {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Hidden */
.a--hidden {
  animation-duration: 2s;
  animation-delay: 200ms;
  animation-fill-mode: forwards;
  animation-name: hidden-animate;
  animation-direction: normal;
}

@keyframes hidden-animate {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* Show */
.a--x--show {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: show-translate-animate;
  animation-direction: normal;
}

@keyframes show-translate-animate {
  from {
    transform: translateX(300px);
  }

  to {
    transform: translateX(0);
  }
}

/* Hidden */
.a--x--hidden {
  animation-duration: 1s;
  animation-delay: 200ms;
  animation-fill-mode: forwards;
  animation-name: hidden-translate-animate;
  animation-direction: normal;
}

@keyframes hidden-translate-animate {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
